@model StockManageWeb.Models.CategoryVM
@{
    /**/

    ViewBag.Title = "Add";
}

<h2 class="alert alert-info text-center">Add</h2>
@if (ViewBag.message != null)
{
    <div class="alert alert-info">@ViewBag.message</div>

}
<div class="row" style="align-content:center">
    <div style="align-content:center">

        <form method="post">
            <table>

                <tr>
                    <td><h6 class="text">Category Name</h6></td>
                    <td><input class="form-control" type="text" name="Name" /></td>

                </tr>

                <tr>
                    <td><h6 class="text">Category Code</h6></td>
                    <td><input class="form-control" type="text" name="Code" /></td>

                </tr>

                <tr>
                    <td></td>
                    <td><input class="btn btn-success" type="submit" value="Add" /></td>

                </tr>

            </table>

        </form>
    </div>


    <div>
        <table class="table table-striped" style="align-content:center">
            <thead>
                <tr>
                    <th>Sl</th>
                    <th>Category Name</th>
                    <th>Category Code</th>
                </tr>
            </thead>
            <tbody>

                @{int sl = 1; }
                @foreach (var i in Model.categories)
                {
                    <tr>
                        <td>@( sl++ )</td>
                        <td>@i.Name</td>
                        <td>@i.Code</td>
                        <td><a href="/Category/Edit?id=@i.ID" class="btn btn-primary" name="Name">Edit</a></td>
                        <td><a href="/Category/Delete?id=@i.ID" class="btn btn-danger">Delete</a></td>
                    </tr>
                }


            </tbody>
        </table>

    </div>
</div>
